<div class="blog-post">
    
    <h3 class="blog-post-title"><%= link_to blog.title.upcase , blog  %></h3>
     <p class="blog-post-meta">Published <%=distance_of_time_in_words(blog.created_at, Time.now)%> ago</p>
    <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) if logged_in?(:site_admin)  %>
      <%= link_to fa_icon('trash'), @blog, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }  if logged_in?(:site_admin) %>
    <p><%= code blog.body %></p> 
    
   


</div>



