
<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <%blog.errors.full_messages.each do |error|%>
     <%=alert_generation(error)%>
    <%end%>
  <% end %>

  <div class="form-groups">
    <%= form.text_field :title  , id: :blog_title, class: "form-control", placeholder: 'Title' %>
  </div>

  <div class="form-groups">
    <%= form.text_area :body, id: :blog_body, class: "form-control", placeholder: "Body" %>
  </div>

 


  <div class="actions">
    <%= form.submit "Edit", class: "btn btn-primary" %>
    <%= link_to 'Back', blogs_path , class: "btn btn-seconadary"%>
  </div>
<% end %>


