
      <div class="col-8 blog-main">
      	<span><%= link_to 'New Blog', new_blog_path, class: "btn btn-secondary btn-lg btn-block" if logged_in?(:site_admin)   %></span> 
      	<span><%=link_to "Topics", topics_path%></span>
         <%= paginate @blogs %>
        <%=render @blogs %>
        <%= paginate @blogs %>
      </div>
      
    
<br>


 