<h1>Portfoli Items </h1>

<p><%=link_to "Create New Item", new_portfolio_path %></p>
<% @portfolio_items.each do |portfolio| %>
	<p><%=portfolio.title%></p>
	<p><%=portfolio.subtitle%></p>
	<p><%=portfolio.body%></p>
	<%= image_tag portfolio.main_image unless portfolio.main_image.nil?%>
	<%=link_to "Edit", edit_portfolio_path(portfolio.id) %>
	<hr>

<%end%>