

<p><%=link_to "Create New Item", new_portfolio_path %></p>
<% @portfolio_items.each do |portfolio| %>
	<p><%=link_to portfolio.title, portfolio_path(portfolio.id) %></p>
	<p><%=portfolio.subtitle%></p>
	<p><%=portfolio.body%></p>
	<%= image_tag portfolio.thumb_image unless portfolio.main_image.nil?%>
	<%=link_to "Edit", edit_portfolio_path(portfolio.id) %>

	<hr>

<%end%>