<%=link_to "Back", portfolios_path %>

<%= image_tag @portfolio.main_image unless @portfolio.main_image.nil?%>
<h1><%=@portfolio.title%></h1>
<em><%=@portfolio.subtitle%></em>
<p><%=@portfolio.body%></p>



<h2>Technologies new</h2>

<%unless @portfolio.technologies.nil?%>
	

	<% @portfolio.technologies.each do |t| %>
		<%=t.name%>
	<%end%>
<%end%>

